root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{kt,kts}]
ktlint_function_naming_ignore_when_annotated_with=Composable
max_line_length = 180
ktlint_standard_multiline-expression-wrapping=disabled
ktlint_standard_string-template-indent=disabled
ktlint_standard_package-name=disabled
